__pycache__/
*.py[cod]
.pytest_cache/
.env
.venv/
node_modules/
.runtime/
database/*.db
database/*.db-shm
database/*.db-wal
.history/
log/
launch/runtime/
data/*.db
data/*.db-shm
data/*.db-wal
data/backups/*.db
立绘/*
certs/*
